*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 64px;
    color: whitesmoke;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 54px;
    color: white;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}

h5 {
    font-weight: 300;
}

h6 {
    font-weight: 700;
    font-weight: bold;
    font-size: 12px;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 120px 25px 50px 25px;
}

.section-m1 {
    margin: 40px 0;
}

.section-shop {
    padding: 0px 30px 0px 30px;
}

body {
    width: 100%;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0 ,0.1);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: .2s ease;
}

#navbar li a:hover,#navbar li a.active {
    color: black;
}

#navbar li a.active::after,#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background-color: black;;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home */

#banner {
    background-image: url(foto/banner.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner h4 {
    padding-bottom: 15px;

}

#banner button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: aquamarine;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 1px;
}

#banner button a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* produk */

#produk-1 {
    text-align: center;
    position: relative;
}

#produk-1 h2 {
    color: black !important;
}
#produk-1 p {
    color: black !important;
}

#produk-1 .produk {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    overflow-x: auto;
}

.produk::-webkit-scrollbar {
    display: none;
}

#produk-1 .produk-box {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0 ,0.1);
    margin: 15px 0;
    transition: 0.5s ease-in-out;
    position: relative;
}

#produk-1 .produk-box:hover {
    transform: scale(1.05);
}

#produk-1 .produk-box img {
    width: 100%;
    border-radius: 20px;
}

#produk-1 .produk-box .isi {
    text-align: start;
    padding: 10px 0;
}

#produk-1 .produk-box .isi span {
    color: #465b52;
    font-size: 12px;
}

#produk-1 .produk-box .isi h5 {
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#produk-1 .produk-box .isi i {
    font-size: 12px;
    color: gold;
}

#produk-1 .produk-box .isi h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 200;
    color: black;
}

#produk-1 .produk-box .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* SHOP */

#produk-2 {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#produk-2 h2 {
    color: black;
}

#produk-2 .produk {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    flex-flow: wrap;
    justify-content: space-around;
}

#produk-2 .produk-box {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0 ,0.1);
    margin: 15px 0;
    transition: 0.5s ease-in-out;
    position: relative;
}

#produk-2 .produk-box:hover {
    transform: scale(1.05);
}

#produk-2 .produk-box img {
    width: 100%;
    border-radius: 20px;
}

#produk-2 .produk-box .isi {
    text-align: start;
    padding: 10px 0;
}

#produk-2 .produk-box .isi span {
    color: #465b52;
    font-size: 12px;
}
#produk-2 .produk-box .isi h5 {
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#produk-2 .produk-box .isi i {
    font-size: 12px;
    color: gold;
}

#produk-2 .produk-box .isi h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 200;
    color: black;
}

#produk-2 .produk-box .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* detail produk */

#prodetail {
    display: flex;
    margin-top: 30px;
}

#prodetail .single-pro-image {
    width: 30%;
    margin-right: 70px;
    margin-left: 70px;
}

#prodetail .single-pro-image img {
    border-radius: 20px;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.small-image-produk {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetail .single-pro-detail {
    width: 50%;
    padding-top: 30px;
}

#prodetail .single-pro-detail h4 {
    color: black;
    padding: 40px 0 20px 0;
}

#prodetail .single-pro-detail h2 {
    color: black;
    font-size: 26px;
}

#prodetail .single-pro-detail select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetail .single-pro-detail input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetail .single-pro-detail input:focus {
    outline: none;
}

#prodetail .single-pro-detail button {
    background: black;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

#prodetail .single-pro-detail button a {
    font-size: 15px;
    color: white;
}

#prodetail .single-pro-detail span {
    line-height: 25px;
}

    /* BUTTON */

.pre-btn,
.nxt-btn {
  border: none;
  width: 5vw;
  height: 50%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
  margin-top: 250px;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* FOOTER */

#footer {
    background: rgb(63, 63, 63);
    margin-top: 50px;
}

.footer-box {
    background: black;
    height: 150px;
}

.link-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-box li {
    line-height: 70px;
}

.link-box a {
    padding: 10px;
    color: white;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.foot-icon a {
    line-height: 100px;
    color: white;
    padding: 15px;
}

#footer p {
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding: 5px;
}

/* ABOUT */

#about {
    text-align: center;
    height: 80vh;
}

.about-box h1  {
    color: black;
    margin-top: 20px;
}

.about-box h2  {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

.about-box p {
    display: flex;
    margin: 20px 100px 20px 100px;  
    font-size: 20px;
    color: rgb(86, 86, 86);
}

/* CONTACT */

#contact {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.contact-box {
    width: 850px;
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.20);
}

.contact-box h2 {
    color: black;
    position: relative;
    padding: 0 0 10px;
    margin: 10px 0 10px 0;
}

.contact-box h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: black;
}

.right {
    padding: 25px 40px;
}

.field {
    width: 100%;
    border: 2px solid black;
    outline: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: white;
}

.area {
    min-height: 100px;
}

.btn {
    width: 50%;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: rgb(34, 34, 34);
}

.field:focus {
    border: 2px solid black;
}


@media (max-width:799px) {
    #header{
        padding: 20px 20px;
    }

    h4 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    } 

    #banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #banner button a {
        font-size: 12px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: white;
        box-decoration-break: 0 40px 60px black;
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }
    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: black;
        font-size: 30px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 20px;
    }

    .bag {
        display: none;
    }

    #banner {
        height: 100vh;
    }

    .about-box  p{
        font-size: 15px;
        margin: 5px;
    }

    .contact-box {
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    }

    #prodetail {
        display: flex;
        flex-direction: column;
    }

    #prodetail .single-pro-image {
        width: 90%;
        padding-left: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    #prodetail .single-pro-detail {
        width: 100%;
        padding-left: 25px;
    }
    .small-image-produk {
        display: none;
    }
}